#Seite {
  background-color: #4f4f4f;
  margin-top: 1em;
  margin-left: 1em;
}

header {
  background-color: #6cb252;
  height: 4.2em;
  width: 50em;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  box-shadow: 0px 5px 10px white;
  -moz-box-shadow: 0px 5px 10px white;
  -webkit-box-shadow: 0px 5px 10px white;
}

nav {
  background-color: #6495ed;
  width: 8em;
  height: 15em;
  float: left;
  margin-top: 1em;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  box-shadow: 0px 5px 10px white;
  -moz-box-shadow: 0px 5px 10px white;
  -webkit-box-shadow: 0px 5px 10px white;
}

section {
  background-color: whitesmoke;
  width: 40em;
  margin-top: 1em;
  margin-left: 9em;
  padding: 0.5em;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 1px 1px 50px #fff5c0 inset;
  -moz-box-shadow: 1px 1px 50px #fff5c0 inset;
  -webkit-box-shadow: 1px 1px 50px #fff5c0 inset;
}

Banner {
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
  color: gold;
  float: right;
  padding-right: 5em;
  padding-top: 0.6em;
}

Text_n {
  font-size: 0.8em;
  font-family: Arial, Helvetica, sans-serif;
}

nav ul {
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  float: right;
  margin-right: 0.5em;
}

nav a {
  display: block;
  text-decoration: none;
  color: gold;
  font-weight: bold;
  background-color: darkblue;
  border: 1px solid darkblue;
  margin-bottom: 0.25em;
  padding: 0.4em;
  width: 6em;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  box-shadow: 0px 5px 10px white inset;
  -moz-box-shadow: 0px 5px 10px white inset;
  -webkit-box-shadow: 0px 5px 10px white inset;
}

  nav a:focus,
  nav a:hover {
    background-color: gold;
    color: darkblue;
  }